body {
  background-color: #277BC0;
}
body .big-container {
  width: 40%;
  max-width: 40%;
  margin: 0 auto;
  background-color: #FFB200;
  font-family: "League Spartan", sans-serif;
  padding: 3em;
  border-radius: 1em;
}
body .big-container .heading {
  text-align: center;
  font-weight: 600;
}
body .big-container .g-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 100%;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  height: 60px;
  background-color: #FFF4CF;
  padding-left: 1em;
  margin-bottom: 2em;
}
body .big-container .g-password span {
  word-wrap: break-word;
  max-width: calc(100% - 50px);
  font-size: 1.5rem;
}
body .big-container .g-password button {
  color: white;
  background-color: black;
  height: 100%;
}
body .big-container .g-password button:hover {
  background-color: #FFCB42;
  color: black;
}
body .big-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}
body .big-container .row label {
  display: inline;
  font-weight: 400;
  font-size: 1.3rem;
}
body .big-container .row input {
  display: inline;
}
body .big-container .row input[type=number] {
  width: 80px;
  height: 30px;
  padding-left: 1em;
}
body .big-container .row input[type=checkbox] {
  width: 30px;
  height: 30px;
  accent-color: black;
}
body .big-container .g-but {
  display: block;
  width: 80%;
  font-size: 1.5rem;
  padding: 0.3em;
  margin: 0 auto;
  border-radius: 0.3em;
  background-color: black;
  color: white;
  margin: 1em auto 0em;
}
body .big-container .g-but:hover {
  background-color: #FFCB42;
  color: black;
}

@media screen and (max-width: 768px) {
  body .big-container .g-password {
    height: 60px;
  }
  body .big-container .g-password span {
    font-size: 1rem;
  }
  body .big-container .g-password button {
    font-size: 0.8rem;
  }
  body .big-container .row label {
    font-size: 1rem;
  }
  body .big-container .row input[type=number] {
    width: 40px;
    height: 15px;
  }
  body .big-container .row input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
  body .big-container .g-but {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}
@media screen and (max-width: 425px) {
  body .big-container {
    width: 80%;
    max-width: 70%;
    padding: 1.5em;
    margin: 1em auto;
  }
  body .big-container h1 {
    font-size: 1.5rem;
  }
  body .big-container .g-password {
    height: 55px;
  }
  body .big-container .g-password span {
    font-size: 0.85rem;
  }
}